
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{ readData }}</div>
          <div>Total Students</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;"> 
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="text-value">{{ activeData }}</div>
          <div>Active Students</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{ inActiveData }}</div>
          <div>InActive Students</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
